<div class="font-sans flex justify-center pt-10">
    <div class="relative h-full flex flex-col sm:justify-center items-center">
        <div class="relative sm:max-w-sm w-full">
            <div class="
          card
          bg-blue-400
          shadow-lg
          w-full
          h-full
          rounded-3xl
          absolute
          transform
          -rotate-6
        "></div>
            <div class="
          card
          bg-red-400
          shadow-lg
          w-full
          h-full
          rounded-3xl
          absolute
          transform
          rotate-6
        "></div>
            <div class="relative w-full rounded-3xl px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
          Login
        </label>
                <form [formGroup]="loginForm" class="mt-10">
                    <div>
                        <input type="email" placeholder="Email" formControlName="email" class="
                mt-1
                block
                w-full
                border-none
                bg-gray-100
                h-11
                rounded-xl
                shadow-lg
                hover:bg-blue-100
                focus:bg-blue-100 focus:ring-0
                px-3
              " required />
                    </div>

                    <div class="mt-7">
                        <input type="password" formControlName="password" placeholder="Password" class="
                mt-1
                block
                w-full
                border-none
                bg-gray-100
                h-11
                rounded-xl
                shadow-lg
                hover:bg-blue-100
                focus:bg-blue-100 focus:ring-0
                px-3
              " />
                    </div>

                    <div class="mt-7">
                        <div *ngIf="loading; else elseBlock" class="text-green-700 text-lg font-bold text-center">
                            Loading...
                        </div>
                        <ng-template #elseBlock>
                            <button class="
                  bg-blue-500
                  w-full
                  py-3
                  rounded-xl
                  text-white
                  shadow-xl
                  hover:shadow-inner
                  focus:outline-none
                  transition
                  duration-500
                  ease-in-out
                  transform
                  hover:-translate-x hover:scale-105
                " (click)="login()" type="submit">
                Login
              </button>
                        </ng-template>
                    </div>

                    <div class="mt-7">
                        <div class="flex justify-center items-center">
                            <label class="mr-2">Don't have an account ?</label>
                            <a href="#" class="
                  text-blue-500
                  transition
                  duration-500
                  ease-in-out
                  transform
                  hover:-translate-x hover:scale-105
                ">
                Create Account
              </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>