<p class="text-center m-4 text-lg underline">Product Details</p>
<div class="flex justify-center">
    <div *ngIf="product" class="
      flex flex-row
      justify-around
      bg-gray-200
      w-96
      rounded-lg
      h-14
      items-center
    ">
        <p class="text-gray-700 text-sm font-thin">
            Name:
            <span class="text-lg font-serif font-bold">{{ product?.name }}</span>
        </p>
        <p class="text-gray-700 text-sm font-thin">
            Price:
            <span class="text-lg font-serif font-bold">{{ product?.price }} ksh</span>
        </p>
        <p class="text-gray-700 text-sm font-thin">
            Category:
            <span class="text-lg font-serif font-bold">{{
        product?.category?.name
      }}</span>
        </p>
    </div>
</div>

<div>
    <div class="text-center space-x-4 ml-5 text-green-400" *ngIf="loading as value; else elseBlock">
        Loading...
    </div>
    <ng-template #elseBlock>
        <div class="flex items-center justify-center mt-4">
            <div class="w-full max-w-md">
                <form class="bg-white shadow-xl rounded px-12 pt-6 pb-8 mb-4" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <div class="
              text-gray-800 text-2xl
              flex
              justify-center
              border-b-2
              py-2
              mb-4
            ">
                        Update Product
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-normal mb-2" for="username">
              Name
            </label>
                        <input class="
                shadow
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none focus:shadow-outline
              " name="name" type="text" required autofocus placeholder="Product" formControlName="name" value="product.name" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-normal mb-2" for="password">
              Price
            </label>
                        <input class="
                shadow
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                mb-3
                leading-tight
                focus:outline-none focus:shadow-outline
              " type="text" placeholder="Price" name="price" required autocomplete="current-password" formControlName="price" />
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-normal mb-2" for="username">
              Quantity
            </label>
                        <input class="
                shadow
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none focus:shadow-outline
              " name="quantity" type="number" required autofocus placeholder="Quantity" formControlName="quantity" />
                    </div>

                    <div class="flex items-center justify-center">
                        <button class="
                px-4
                py-2
                rounded
                text-white
                inline-block
                shadow-lg
                bg-blue-500
                hover:bg-blue-600
                focus:bg-blue-700
              " type="submit">
              Update
            </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>
</div>
